In [1]:
import pandas as pd

In [2]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [3]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [4]:
props.prop_name.value_counts()

PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE CRIMINAL PROCEEDINGS AND SENTENCING. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                           13
PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTHCARE, TOBACCO USE PREVENTION, RESEARCH, AND LAW ENFORCEMENT. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.    12
PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.                                                                                                   11
PROPOSITION 066- DEATH PENALTY. PROCEDURES. INITIATIVE STATUTE.                                                                                                 9
PROPOSITION 055 - TAX EXTENSION TO FUND EDUCATION AND HEALTHCARE. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                          8
PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON SINGLE-USE PLASTIC BAGS.                                                                                         7
PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.                                                                                                             7
PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES OF 2016), ALLEN. CAMPAIGN FINANCE: VOTER INSTRUCTION                                                              6
PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOTER APPROVAL. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                                 4
PROPOSITION 054 - LEGISLATURE. LEGISLATION AND PROCEEDINGS. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                                                    4
PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUTES OF 2014), LARA. ENGLISH LANGUAGE EDUCATION                                                                     4
PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE.                                                                                                 4
PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-12 SCHOOL AND COMMUNITY COLLEGE FACILITIES. INITIATIVE STATUTORY AMENDMENT.                                       4
PROPOSITION 052 - STATE FEES ON HOSPITALS. FEDERAL MEDI-CAL MATCHING FUNDS. INITIATIVE STATUTORY AND CONSTITUTIONAL AMENDMENT.                                  3
PROPOSITION 061- STATE PRESCRIPTION DRUG PURCHASES. PRICING STANDARDS. INITIATIVE STATUTE.                                                                      3
PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH REQUIREMENTS. INITIATIVE STATUTE.                                                                                 2
PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INITIATIVE STATUTE.                                                                                                   1
Name: prop_name, dtype: int64

In [9]:
prop63 = props[props.prop_name == "PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE."]

In [10]:
prop63.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 70 to 73
Data columns (total 8 columns):
ocd_prop_id               4 non-null object
calaccess_prop_id         4 non-null int64
ccdc_prop_id              4 non-null int64
prop_name                 4 non-null object
ccdc_committee_id         4 non-null int64
calaccess_committee_id    4 non-null int64
committee_name            4 non-null object
committee_position        4 non-null object
dtypes: int64(4), object(4)
memory usage: 288.0+ bytes

In [11]:
merged = pd.merge(prop63, contribs, on="calaccess_committee_id")

In [12]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11025 entries, 0 to 11024
Data columns (total 20 columns):
ocd_prop_id                     11025 non-null object
calaccess_prop_id               11025 non-null int64
ccdc_prop_id                    11025 non-null int64
prop_name                       11025 non-null object
ccdc_committee_id               11025 non-null int64
calaccess_committee_id          11025 non-null int64
committee_name_x                11025 non-null object
committee_position              11025 non-null object
committee_name_y                11025 non-null object
calaccess_filing_id             11025 non-null int64
date_received                   11025 non-null object
contributor_lastname            11025 non-null object
contributor_firstname           10913 non-null object
contributor_city                11023 non-null object
contributor_state               11020 non-null object
contributor_zip                 11023 non-null object
contributor_employer            6836 non-null object
contributor_occupation          10912 non-null object
contributor_is_self_employed    11025 non-null bool
amount                          11025 non-null float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 1.7+ MB

In [13]:
merged.amount.sum()

3491136.6800000002

In [14]:
merged.committee_position.value_counts()

OPPOSE     5568
SUPPORT    5457
Name: committee_position, dtype: int64

In [16]:
support63 = merged[merged.committee_position == "SUPPORT"]

In [17]:
oppose63 = merged[merged.committee_position == "OPPOSE"]

In [18]:
support63.amount.sum() / merged.amount.sum()

0.81058673990386421

In [19]:
merged.groupby("committee_name_x").amount.sum().reset_index()

                                    committee_name_x      amount
0  COALITION FOR CIVIL LIBERTIES - NO ON 63, A PR...   430845.42
1  NEWSOM BALLOT MEASURE COMMITTEE; SAFETY FOR AL...  2829869.10
2  STOP PROP 63, A GRASSROOTS, COMMON-SENSE EFFOR...   178112.56
3  VETO GUNMAGEDDON, CITIZENS WHO ARE OPPOSED TO ...    52309.60

In [21]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

     contributor_firstname contributor_lastname committee_position    amount
4153                  SEAN               PARKER            SUPPORT  400000.0
3427              NICHOLAS             PRITZKER            SUPPORT  250000.0
1543             GEORGE M.               MARCUS            SUPPORT  250000.0
4385        SUSIE TOMPKINS                BUELL            SUPPORT  210000.0
1092                 DIANE               WILSEY            SUPPORT  110000.0
793                 DAGMAR                DOLBY            SUPPORT  100000.0
72               ALEXANDER                SOROS            SUPPORT  100000.0
1299             ELIZABETH               SIMONS            SUPPORT  100000.0
1623                  GREG                WENDT            SUPPORT   50000.0
2917               MARC R.              BENIOFF            SUPPORT   50000.0

In [22]:
merged.groupby(["contributor_state", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

   contributor_state committee_position      amount
4                 CA            SUPPORT  2568219.10
3                 CA             OPPOSE   555862.58
34                NY            SUPPORT   107115.00
2                 AZ            SUPPORT   100100.00
49                VA             OPPOSE    95190.00
7                 CT            SUPPORT    40625.00
32                NV             OPPOSE     3155.00
46                TX            SUPPORT     3075.00
25                MN            SUPPORT     2140.00
1                 AZ             OPPOSE     1325.00

In [24]:
support63.contributor_state.value_counts()

CA    5260
NY      33
TX      21
GA      15
MN      15
OR      13
IL      11
NJ      10
NV       8
CT       8
SC       6
MA       6
LA       5
WY       5
FL       4
CO       4
AZ       4
WA       4
PA       3
VA       2
RI       2
OH       2
HI       2
MO       2
MD       2
WI       2
IA       1
MI       1
UT       1
NH       1
KY       1
Name: contributor_state, dtype: int64

In [25]:
calDonate = merged[merged.contributor_state == "CA"]

In [26]:
calDonate.amount.sum() / merged.amount.sum()

0.89486089098064192